<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grade.name %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @grade.colour %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @grade.tag %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
