<h1>Student Details</h1>
<div class="row">
<%# <div class="col-md-3"> %>
<%#= render 'students' %>
<%# </div> %>
<div class="col-md-12">
<p id="notice"><%= notice %></p>
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title"><%= @student.first_name + ' ' + @student.last_name %></h5>
    <p class="card-text">Address Line 1, Address Line 2, Postcode</p>
  </div>
  <div class="card-footer">
    <% @emergency_contacts.each do |ec| %>
      <i class="fa-solid fa-truck-medical"></i>
      <%= ec.number + " - " + ec.name + " (" + ec.relationship + ") "%>
      <%= link_to 'Destroy', emergency_contact_path(ec), method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= button_to 'Destroy', emergency_contact_path(ec), method: :delete, onclick: "return confirm('Are you sure?')" %>
    <% end %>
    <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
      New
    </button>
  </div>
</div>
<%= render partial: 'emergency_contacts/form', locals: { emergency_contact: @emergency_contact } %>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
</div>
</div>








<%# Modal for New Emergency Contact %>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>